<!DOCTYPE html>
<html>
    <head>
        <title>To-doApp</title>
        <link rel="stylesheet" href="assets/css/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://unpkg.com/vue/dist/vue.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-firestore.js"></script>
    </head>
    <body>
        <div id="app">
            <div class="header">
                Tasks 
            </div>
            <div class="boxcont">    
                <div class="card" v-for="todo in todos">
                    <label class="container"> 
                        <input type="checkbox" :checked="todo.pendente" >
                        <span class="checkmark"></span>
                        <span class="card-text">{{ todo.tarefa }}</span>
                    </label>          
                </div>
            </div>
            <div class="addhead">
                <div @click="openInput">
                    <div class="buttonadd">
                        <img src="assets/images/Vector.png">
                    </div>
                </div> 
            </div>
            <input class="inputTodo" :value="inputTodo" @input="e => inputTodo = e.target.value" placeholder="O que você tem que fazer?" ref="inputdo" v-if="inputShow" v-on:keyup.enter="addTodo">
            <div class="menuInput" v-if="inputShow">
                <table align="center">
                    <tr>
                        <td  @click="inputShow = !inputShow">Cancelar</td>
                        <td ><input type="submit" value="Inserir" class="insertbtn" @click="addTodo" :disabled="!inputTodo"></td></a> 
                    </tr>
                </table>
            </div>
        </div>
        <script src="assets/js/main.js"></script>
    </body>
</html>